@import "~src/global";

.ModDashboard {
  padding: 10px;
  text-align: center
}

#ReportsTable {
  width: 50%;
  margin: auto;
  text-align: left;
  border-color: $content-border-color;
  border-radius: 5px;
  border-width: 3px;
  border-spacing: 0px;
  box-shadow: 1px 2px 6px $content-border-color;
  border-style: solid;
  @media #{$information-phone} {
    width: 100%;
  }
}

#UsersTable {
  position: fixed;
  display: flex;
  top: 10%;
  left: 90%;
  flex-direction: column;
  border-color: $content-border-color;
  border-radius: 5px;
  border-width: 3px;
  border-spacing: 0px;
  box-shadow: 1px 2px 6px $content-border-color;
  border-style: solid;
  text-align: left;
  @media #{$information-phone} {
    position: initial;
    display: inline-table;
    margin-left: 0%;
    text-align: center;
    width: auto;
    margin: auto;
    margin-top: 10%;
  }
}

.image_display {
  max-width: 90%;
  max-height: 90%;
  @media #{$information-phone} {
    max-width: 100%;
    max-height: 100%;
  }
}

th {
  text-align: left;
  background-color: $content-border-color;
  color : $main-background-color;
}

td.Report {
  border-color: $content-border-color;
  border-width: 2px;
  border-style: solid;
}

td.User {
  border-color: $content-border-color;
  border-width: 2px;
  border-style: solid;
}

.User {
  &:hover {
    color: $font-color-important;
    cursor: pointer;
  }
}

.error {
  color: $error-color;
}

.error-msg {
  margin-top : 0.5%;
  display: block;
  font-size: 75%;
}

.admin-text {
  color: $font-color-important;
  margin-top: 0px;
  padding-top: 0px;
}

.moderator-text {
  color: #a531d3;
  margin-top: 0px;
  padding-top: 0px;
}

.normal-user-text {
  color: $font-color-not-important;
  margin-top: 0px;
  padding-top: 0px;
}

.better-user-text {
  color: #18cae2;
  margin-top: 0px;
  padding-top: 0px;
}

.limited-user-text {
  color: $error-color;
  margin-top: 0px;
  padding-top: 0px;
}

h4 {
  padding: 0px;
  margin: 0px;
}

