<div class="aboutme">
  <h2 class="name">Hallo {{UserData?.name.split(" ")[0]}}</h2>

  <span *ngIf="UserData?.role > 2">
    <h3 class="admin-text"><b>Eingelogt als Admin</b></h3>
  </span>

  <span *ngIf="UserData?.role == 1">
    <h3 class="better-user-text"><b>Eingelogt als Nutzer+</b></h3>
    <p class="better-user-sub-text">Diese Rolle kann nur von einem Admin vergeben werden.</p>
  </span>

  <span *ngIf="UserData?.role == 0">
    <h3 class="normal-user-text"><b>Eingelogt als Normaler Nutzer</b></h3>
  </span>

  <span *ngIf="UserData?.role == -1">
    <h3 class="limited-user-text"><b>Eingelogt als Nutzer mit stark limitierten rechten</b></h3>
    <p class="limited-user-sub-text">Diese Rolle wird nur vergeben wen du die Regeln dieser Website nicht einhälst .</p>
  </span>
</div>
