@import "~src/global";

.aboutme {
  padding: 10px;
  text-align: center
}

.admin-text {
  color: $font-color-important
}

.normal-user-text {
  color: $font-color-not-important
}

.better-user-text {
  color: #18cae2
}

.moderator-text {
  color: #a531d3
}

.better-user-sub-text {
  color: #18cae279
}

.limited-user-text {
  color: $error-color
}

.limited-user-sub-text {
  color: #ff00003f
}

.about-me-container {
  padding-bottom: 5%;
}

#delete-account {
  padding-bottom: 0px;
  color: $error-color;
}

[no-copy-text] {

  font-weight: bold;

  &::after {
    content: attr(no-copy-text);
  }
}

.error {
  color: $error-color;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;

  a {
    font-weight: bold;
    color: $main-font-color;
    width: 100%;
  }
}

