<div class="aboutme">
  <h2 class="name">Hallo {{UserData?.name.split(" ")[0]}}</h2>

  <h3 [className]="UserData?.points < 5 ? 'limited-user-text': 'normal-user-text'">Du hast {{UserData?.points}} Punkte</h3>

  <span *ngIf="UserData?.role >= 3">
    <h3 class="admin-text"><b>Eingelogt als Admin</b></h3>
  </span>

  <span *ngIf="UserData?.role == 2">
    <h3 class="moderator-text"><b>Eingelogt als Moderator</b></h3>
  </span>

  <span *ngIf="UserData?.role == 1">
    <h3 class="better-user-text"><b>Eingelogt als Nutzer+</b></h3>
    <p class="better-user-sub-text">Diese Rolle kann nur von einem Admin vergeben werden.</p>
  </span>

  <span *ngIf="UserData?.role == 0">
    <h3 class="normal-user-text"><b>Eingelogt als Normaler Nutzer</b></h3>
  </span>

  <span *ngIf="UserData?.role == -1">
    <h3 class="limited-user-text"><b>Eingelogt als Nutzer mit stark limitierten rechten</b></h3>
    <p class="limited-user-sub-text">Diese Rolle wird nur vergeben wen du die Regeln dieser Website nicht einhälst .</p>
  </span>

  <div class="about-me-container">
    <button (click)="logout()">Aus Loggen</button>
    <br>
    <br>
  </div>

  <div id="delete-account" class="about-me-container">
    <div *ngIf="realyDelete">
      <p>Willst du deinen Account wirklich löschen ? </p>
      <p>Dieser Vorgang kann <b>nicht</b> rückgängig gemacht werden</p>
      <p>Um deinen account zu Löschen Tippe bitte <span no-copy-text="Account Löschen"></span> <b></b> in das Textfeld ein.</p>
      <p>Drücke dann den Knopf ein zweites mal.</p>
      <input [(ngModel)]="verifyStringInput">
    </div>
    <br>
    <button (click)="delete_account()">Account Löschen</button>
  </div>
</div>
