@import "~src/global";

.aboutme {
  padding: 10px;
  text-align: center
}

.admin-text {
  color: $font-color-important
}

.normal-user-text {
  color: $font-color-not-important
}

.better-user-text {
  color: #18cae2
}

.better-user-sub-text {
  color: #18cae279
}

.limited-user-text {
  color: $error-color
}

.limited-user-sub-text {
  color: #ff00003f
}
