

<div style="text-align:center" class="signIn">

  <h1>Sign in</h1>

  <form class="signInForm" [formGroup]="signInForm" (ngSubmit)="sign_in()">

    <div class="school" [ngClass]="{'error': signInForm.controls['school'].errors && !signInForm.controls['school'].pristine}" >
      <label>Schulname : </label>
      <input type="text" name="school" formControlName="school" placeholder="test-school">
      <div *ngIf="signInForm.controls['school'].errors && !signInForm.controls['school'].pristine" class="error-msg">
          <div [hidden]="!signInForm.controls['school'].errors.required">Schulname ist benötigt.</div>
          <div [hidden]="!signInForm.controls['school'].errors.minlength">Schulname ist zu kurtz.</div>
      </div>
    </div>

    <div class="firstTimeSignInToken" [ngClass]="{'error': signInForm.controls['firstTimeSignInToken'].errors && !signInForm.controls['firstTimeSignInToken'].pristine}" >
      <label>Token : </label>
      <input type="text" name="firstTimeSignInToken" formControlName="firstTimeSignInToken">
      <div *ngIf="signInForm.controls['firstTimeSignInToken'].errors && !signInForm.controls['firstTimeSignInToken'].pristine" class="error-msg">
          <div [hidden]="!signInForm.controls['firstTimeSignInToken'].errors.required">Token wird benötigt.</div>
          <div [hidden]="!signInForm.controls['firstTimeSignInToken'].errors.minlength">Token muss 200 Zeichen lang sein.</div>
          <div [hidden]="!signInForm.controls['firstTimeSignInToken'].errors.maxlength">Token muss 200 Zeichen lang sein.</div>
      </div>
    </div>

    <div class="name" [ngClass]="{'error': signInForm.controls['name'].errors && !signInForm.controls['name'].pristine}" >
        <label>Nutzername : </label>
        <input type="text" name="name" formControlName="name">
        <div *ngIf="signInForm.controls['name'].errors && !signInForm.controls['name'].pristine" class="error-msg">
            <div [hidden]="!signInForm.controls['name'].errors.required">Nutzername ist benötigt.</div>
            <div [hidden]="!signInForm.controls['name'].errors.minlength">Nutzername ist zu kurtz.</div>
        </div>
    </div>

    <div [ngClass]="{'error': signInForm.controls['email'].errors && !signInForm.controls['email'].pristine}">
      <label >Email : </label>
      <input type="email" required name="email" formControlName="email">
      <div *ngIf="signInForm.controls['email'].errors && !signInForm.controls['email'].pristine" class="error-msg">
          <div [hidden]="!signInForm.controls['email'].errors.required">Email ist benötigt.</div>
          <div [hidden]="!signInForm.controls['email'].errors.pattern">Die eingegeben Email ist keine richtige Email.</div>
      </div>
    </div>

    <div class="password" [ngClass]="{'error': signInForm.controls['password'].errors && !signInForm.controls['password'].pristine}" >
        <label>Passwort : </label>
        <input type="password" name="password" formControlName="password" >
        <div *ngIf="signInForm.controls['password'].errors && !signInForm.controls['password'].pristine" class="error-msg">
            <div [hidden]="!signInForm.controls['password'].errors.required">Password ist benötigt.</div>
            <div [hidden]="!signInForm.controls['password'].errors.minlength">Password ist zu kurtz.</div>
        </div>
    </div>

    <button type="submit">Account erstellen</button>

    <br>
    <span class="error-msg error" *ngIf="right == false">{{errortext}}</span>
  </form>

<a href="#login" class="logininlink">Zurück zum Login .</a>

</div>

