<div class="navbar">
  <span class="grid-item">
    <a [className]="currentRoute == 'start' ? 'selected': ''" href="#">Start</a>
  </span>

  <span class="grid-item" *ngIf="currentlyLoggedIn">
      <a [className]="currentRoute == 'about-me' ? 'selected': ''" href="#about-me">Ich</a>
  </span>

  <span class="grid-item" *ngIf="currentlyLoggedIn">
    <a [className]="currentRoute == 'homework-list' ? 'selected': ''" href="#homework-list">Hausaufgaben</a>
  </span>

  <span class="grid-item" *ngIf="currentlyLoggedIn && currentRole >= 2">
    <a [className]="currentRoute == 'mod-dashboard' ? 'selected': ''" href="#mod-dashboard">Mod-Dashboard</a>
  </span>

  <span class="grid-item" *ngIf="!currentlyLoggedIn && currentRoute != 'sign_in' || currentRoute == 'login'">
    <a [className]="currentRoute == 'login' ? 'selected': ''" href="#login">Login</a>
  </span>

  <span class="grid-item" *ngIf="currentRoute == 'sign_in'">
    <a [className]="currentRoute == 'sign_in' ? 'selected': ''" href="#sign-in">Sign in</a>
  </span>

  <span class="grid-item" id="eure-hausaufgaben-text">Eure-Hausaufgaben.net</span>

</div>
