@import "~src/global";

.navbar {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: $navbar_background_color;
  padding: 10px;
  grid-column-gap: 1%;
  @media #{$information-phone} {
    padding: 5px;
    grid-column-gap: 0.5%;
  }
}

.grid-item {
  text-align : center;
  color: $navbar_tab_color;
}

#dashboard-long-text {

  @media #{$information-phone} {
    display: none;
  }
}

#dashboard-short-text {
  display: none;
  @media #{$information-phone} {
    display: unset;
  }
}

a {
  text-decoration : none;
  color: $navbar_tab_color;
  &:hover {
    color: $navbar_hover_tab_color;
  }
}

.selected {
  color: $navbar_selected_tab_color
}

#website-name-text {
  grid-column: -1;
  @media #{$information-phone} {
    display: none;
  }
}
