
#dab {
  height: 100%;
  width: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  background: url("/assets/img/dab.gif") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
