<div id="content">
  <h1 class="center_text">Eure-Hausaufgaben.net</h1>
  <h2 class="center_text">Die Hausaufgaben Seite auf die du Vertrauen kannst !</h2>
  <p class="center_text">Außer wenn du mein Ernstfeind bist.</p>
</div>
<div id="footer">

</div>
<span class="footer">
  Diese Website wurde von mir (Justus Laube) erstellt 🖥️. Wenn du dir keinen Account erstellen kannst Kontaktiere 📞 mich einfach. Wenn du mich nicht Persönlich kennst dann würds leider nichts ⛔, da dies nur ein Service für Leute ist die mich kennen.
</span>


