

<div style="text-align:center" class="login">

  <h1>Login</h1>

  <form class="loginform" [formGroup]="loginForm" (ngSubmit)="login()">
    <div [ngClass]="{'error': loginForm.controls['userName'].errors && !loginForm.controls['userName'].pristine}">
      <label >Nutzername : </label>
      <input required name="userName" formControlName="userName">
      <div *ngIf="loginForm.controls['userName'].errors && !loginForm.controls['userName'].pristine" class="error-msg">
          <div [hidden]="!loginForm.controls['userName'].errors.required">Nutzername wird benötigt.</div>
          <div [hidden]="!loginForm.controls['userName'].errors.pattern">Nutzername ist invalid.</div>
      </div>
    </div>

    <div class="password" [ngClass]="{'error': loginForm.controls['password'].errors && !loginForm.controls['password'].pristine}" >
        <label>Passwort : </label>
        <input type="password" name="password" formControlName="password" >
        <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine" class="error-msg">
            <div [hidden]="!loginForm.controls['password'].errors.required">Password ist benötigt.</div>
            <div [hidden]="!loginForm.controls['password'].errors.minlength">Password ist zu kurtz.</div>
        </div>
    </div>

    <div class="stayLoggedIn" [ngClass]="{'error': loginForm.controls['stayLoggedIn'].errors && !loginForm.controls['stayLoggedIn'].pristine}" >
      <label>Eingeloget Bleiben : </label>
      <input class="checkbox" type="checkbox" name="stayLoggedIn" formControlName="stayLoggedIn" >
  </div>

    <button color="primary" type="submit">Login</button>

    <br>
    <span class="error-msg error" *ngIf="right == false">{{errortext}}</span>
  </form>

  <br>
  <a href="#sign-in" class="signinlink">Kein Account ? Erstelle hier einen Account .</a>

</div>

