@import "~src/global";

#admin-dashboard {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  @media #{$information-phone} {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  & > * {
    padding-bottom: 5px;
    background-color: $main-font-color;
    color: darken($color: $main-font-color, $amount: 40);
  }
}

#user-list {
  flex: 1;
  padding: 10px;
  width: fit-content;
  @media #{$information-phone} {
    width: 100%;
  }
}

#course-list {
  flex: 1;
  padding: 10px;
  width: fit-content;
  @media #{$information-phone} {
    width: 100%;
  }
}


#side-bar {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#user-add {

  .error {
    color: $error-color;
  }

  .error-msg {
    margin-top : 0.5%;
    display: block;
    font-size: 75%;
  }
}
