<div id="admin-dashboard">

  <!--User List-->
  <app-object-table-list-display id="user-list" [objects]="users" [displayOptions]="usersTableListDisplayOptions"></app-object-table-list-display>

  <!--Course list-->
  <app-object-table-list-display id="course-list" [objects]="courses" [displayOptions]="courseTableListDisplayOptions"></app-object-table-list-display>

  <!--School list-->
  <app-object-table-list-display id="school-list" [objects]="schools" [displayOptions]="schoolTableListDisplayOptions"></app-object-table-list-display>

</div>
