/* Golbal */
$main-font-color: #599ce9;
$font-color-weak: #5899e469;
$font-color-important: #EB3B55;
$content-border-color : #84A1FF;
$content-border-color-weak : rgba(132,161,255, 0.1);
$font-color-not-important: rgb(154, 255, 154);
$font-color-done : rgb(132, 255, 138);
$background-color-done : $content-border-color;
$main-font : "Roboto" , sans-serif;
$main-background-color : #ffffff;
$error-color : #DC143C;


/* Cool Button*/
$cool-button-box-shadow : #1b77c2;
$cool-button-color-gradient-a : #419fc4;
$cool-button-color-gradient-b : #418be0;
$cool-button-border-radius : 42px;
$cool-button-font-color : white;
$cool-button-text-shadow-color : #274d66;
$cool-button-border-color : #789cc4;

$information-phone: "only screen and (max-width : 599px)";

/* navbar */
$navbar_background_color : rgb(23, 162, 255);
$navbar_selected_tab_color : #d4d2d1;
$navbar_hover_tab_color : #6e6b6b;
$navbar_tab_color : #030303;



