/* Add application styles & imports to this file! */
@import "global";

body {
  background : $main-background-color;
  color : $main-font-color;
  font-family: $main-font;
}

.center_text {
  text-align: center;
}

.weak-text {
  color : $font-color-weak
}
