<div class="SchoolClass">

  <h1>Hausaufgaben</h1>

  <div *appPopUpWrapper="HomworkDetailPopUpData">
    <h4 *ngIf="notEnougthPoints" class="error">Nicht Genügend Punkte</h4>
      <div class="sub_Homework" *ngFor="let sub_homework of curSelectedHomework.SubHomework; index as i;">

          <span *ngIf="sub_homework.Done else normal_display" class="sub_homework_finished" (click)="showSubHomework(i)">
              {{sub_homework.Exercise}} | Fertig : Ja
          </span>
          <ng-template #normal_display>{{sub_homework.Exercise}} | Fertig : Nein</ng-template>
          <span *ngIf="sub_homework.User.name"> | {{sub_homework.User.name}}</span>
          <h2 *ngIf="!sub_homework.User.name else normal_no_add" (click)="registerForSubHomework(i)" class="register">Eintragen</h2>
          <ng-template #normal_no_add>
            <div *ngIf="sub_homework.User.name == UserData.name">
                <span *ngIf="!sub_homework.Done">
                  <button (click)="showUploadSubHomework(i)">Fertig</button>
                  <br>
                </span>
                <span class="deRegister" (click)="deRegisterForSubHomework(i)">{{sub_homework.User.name}} | Abmelden</span>
            </div>
          </ng-template>
      </div>
      <button *ngIf="curSelectedHomework.CanDelete" (click)="deleteHomwork()">Aufgabe Entfernen</button>
  </div>

  <div *appPopUpWrapper="HomworkViewPopUpData">
    <app-image-display [subHomeworkDisplay]="curSubHomeworkDisplay" [backendHomework]="backendSchoolClass" (notEnoughtPoints)="notEnoughtPointsImageDisplay($event)"></app-image-display>
    <img *ngIf="!curSubHomeworkDisplay.reported" (click)="showReport()" src="assets/img/report_icon.png" alt="image" class="report">
  </div>

  <div *appPopUpWrapper="HomworkReportPopUpData">
    <form [formGroup]="ReportForm" (ngSubmit)="addReport()">
      <div [ngClass]="{'error': ReportForm.controls['Type'].errors}">
        <label >Type : </label>
        <select id="Type" required name="Type" formControlName="Type" class="Type">
            <option value="" disabled>Verstoß wählen</option>
            <option>0. Fehler in Lösung</option>
            <option>1. Bild ist keine Hausaufgabe</option>
            <option>2. Bild enthält Gewalt</option>
            <option>3. Bild enthält Pornographische Inhalte</option>
            <option>4. Bild enthält 2. und 3.</option>
        </select>
        <div *ngIf="ReportForm.controls['Type'].errors && !ReportForm.controls['Type'].pristine" class="error-msg">
            <div [hidden]="!ReportForm.controls['Type'].errors.required">Fach wird benötigt.</div>
        </div>
      </div>
      <br>
      <br>
      <button type="submit">Report</button>
    </form>
  </div>

  <div *appPopUpWrapper="HomworkUploadPopUpData">
    <input type="file" name="photo" accept="image/*" capture="camera" alife-file-to-base64 multiple (onFileChanged)="onImageUploadChange($event)"/>
    <br>
    <br>
    <button (click)="uploadHomworkImage()">Hochladen</button>
  </div>

  <div *appPopUpWrapper="HomworkAddPopUpData">
    <form class="AddHomeworkForm" [formGroup]="AddHomeworkForm" (ngSubmit)="addHomework()">
      <!--Exercise-->
      <div [ngClass]="{'error': AddHomeworkForm.controls['Exercise'].errors}">
        <label >Aufgabe : </label>
        <input type="text" id="Exercise" required name="Exercise" formControlName="Exercise">
        <div *ngIf="AddHomeworkForm.controls['Exercise'].errors && !AddHomeworkForm.controls['Exercise'].pristine" class="error-msg">
            <div [hidden]="!AddHomeworkForm.controls['Exercise'].errors.required">Aufgabe wird benötigt.</div>
            <div [hidden]="!AddHomeworkForm.controls['Exercise'].errors.minLength">Aufgabe ist zu Kurtz.</div>
        </div>
      </div>
      <!--Course-->
      <br>
      <div [ngClass]="{'error': AddHomeworkForm.controls['Course'].errors}">
          <label >Kurs : </label>
          <select required id="Course" name="Course" formControlName="Course" class="Course">
              <option value="">Kurs wählen</option>
              <option *ngFor="let courseKeyValuePair of courses | keyvalue" [value]="courseKeyValuePair.key">{{courseKeyValuePair.value.CourseName}}</option>
          </select>
          <div *ngIf="AddHomeworkForm.controls['Course'].errors && !AddHomeworkForm.controls['Course'].pristine" class="error-msg">
              <div [hidden]="!AddHomeworkForm.controls['Course'].errors.required">Kurse wird benötigt.</div>
          </div>
      </div>
      <!--Sub Exercise-->
      <br>
      <div>
          <label >Unter Aufgaben : </label>
          <input id="SubExercise" required name="SubExercise" formControlName="SubExercise" class="SubExercise" placeholder="Unteraufgaben mit ';' separiert">
          <br>
      </div>

      <!--Due Date-->
      <br>
      <div [ngClass]="{'error': AddHomeworkForm.controls['DueDate'].errors}">
          <label >Fällig : </label>
          <input type="date" id="DueDate" required name="DueDate" formControlName="DueDate" class="DueDate">
          <div *ngIf="AddHomeworkForm.controls['DueDate'].errors && !AddHomeworkForm.controls['DueDate'].pristine" class="error-msg">
            <div [hidden]="!AddHomeworkForm.controls['DueDate'].errors.required">Das Datum wird benötigt.</div>
            <div [hidden]="!AddHomeworkForm.controls['DueDate'].errors.datePassed">Das Datum ist in schon vergangen.</div>
        </div>
      </div>
      <br>
      <button type="submit">Hausaufgabe Hinzufügen</button>
    </form>
  </div>

  <table id="HomeworkTable">
    <tr>
      <th>Kurs</th>
      <th>Aufgabe</th>
      <th>Fetig %</th>
      <th>Fällig</th>
    </tr>
    <tr (click)="showHomeworkDetails(i)" *ngFor="let homework of homework; index as i;" class="Homework" [className]="homework.DonePercentage === 100 ? 'done': ''">
        <td><h3>{{courses.get(homework.CourseId).CourseName}}</h3></td>
        <td><h3>{{homework.Exercise}}</h3></td>
        <td><h4>{{homework.DonePercentage}}%</h4></td>
        <td><h4 class="urgent_level_{{homework.UrgentLevel}}">{{homework.Due}}</h4></td>
    </tr>
  </table>

  <div *ngIf="!HomworkAddPopUpData.isOpen && !HomworkDetailPopUpData.isOpen" (click)="showAddHomework();" class="add">+</div>

</div>
