@import "~src/global";

.SchoolClass {
  padding: 10px;
  text-align: center
}

.Homework {
  margin-left: 50%;
  text-align: justify;
}

.sub_Homework {
  margin-left: 5%;
  text-align: justify;
}

h4 {
  display: inline;
}


