@import "~src/global";

.knowledge {
  padding: 10px;
  text-align: center
}

#KnowledgeTable {
  width: 50%;
  margin: auto;
  text-align: left;
  border-color: $content-border-color;
  border-radius: 5px;
  border-width: 3px;
  border-spacing: 0px;
  box-shadow: 1px 2px 6px $content-border-color;
  border-style: solid;
  @media #{$information-phone} {
    width: 100%;
  }
}

th {
  text-align: left;
  background-color: $content-border-color;
  color : $main-background-color;
}


td {
  border-color: $content-border-color;
  border-width: 2px;
  border-style: solid;
}

a {
  color: $main-font-color;
  text-decoration: none;
  font-weight: bolder;

  &:hover {
    color: $font-color-important;
  }
}

.add {
  position: relative;
  top: 0;
  right: 0;
  margin: auto;
  width: 1em;
  font-size: 2em;
  cursor: pointer;

  &:hover {
    color: $font-color-important;
    animation-name: AddRotate;
    animation-duration: 0.3s;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: alternate;
  }
}

@keyframes AddRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.error-msg {
  margin-top : 0.5%;
  display: block;
  font-size: 75%;
}

.error {
  color: $error-color;
}
