<div class="knowledge">
  <h1>Hipity hopity hier ist Wissen<br>😎</h1>

  <div *appPopUpWrapper="KnowledgeViewPopUpData">
    <p>{{curSelectedKnowledgeSource.Description}}</p>

      <span *ngIf="curSelectedKnowledgeSource.Type == 0">
        <a href={{curSelectedKnowledgeSource.Data}} target="_blank" rel="noopener noreferrer"><h4>Link zum Google Dokument</h4></a>
      </span>

      <span *ngIf="curSelectedKnowledgeSource.Type == 1">
        <h4>PDF Dateien sind noch nicht Implementiert</h4>
      </span>

      <h6>
        Veröffentlicht am {{curSelectedKnowledgeSource.CreationTime}} von {{curSelectedKnowledgeSource.ByUser.name}}
        <br>
        Zuletzt Geändert am {{curSelectedKnowledgeSource.LastModifiedTime}}
      </h6>
  </div>

  <div *appPopUpWrapper="KnowledgeAddPopUpData">
    <form class="AddKnowledgeSourceForm" [formGroup]="AddKnowledgeSourceForm" (ngSubmit)="addNewKnowledgeSource()">
      <!--Title-->
      <div [ngClass]="{'error': AddKnowledgeSourceForm.controls['Title'].errors}">
        <label >Titel : </label>
        <input type="text" id="Title" required name="Title" formControlName="Title">
        <div *ngIf="AddKnowledgeSourceForm.controls['Title'].errors && !AddKnowledgeSourceForm.controls['Title'].pristine" class="error-msg">
            <div [hidden]="!AddKnowledgeSourceForm.controls['Title'].errors.required">Titel wird benötigt.</div>
            <div [hidden]="!AddKnowledgeSourceForm.controls['Title'].errors.minLength">Titel ist zu kurz.</div>
        </div>
      </div>
      <br>
      <!--Description-->
      <div [ngClass]="{'error': AddKnowledgeSourceForm.controls['Description'].errors}">
        <label >Beschreibung : </label>
        <input type="text" id="Description" required name="Description" formControlName="Description">
        <div *ngIf="AddKnowledgeSourceForm.controls['Description'].errors && !AddKnowledgeSourceForm.controls['Description'].pristine" class="error-msg">
            <div [hidden]="!AddKnowledgeSourceForm.controls['Description'].errors.required">Beschreibung wird benötigt.</div>
            <div [hidden]="!AddKnowledgeSourceForm.controls['Description'].errors.minLength">Beschreibung ist zu kurz.</div>
        </div>
      </div>
      <br>
      <!--Subject-->
      <div [ngClass]="{'error': AddKnowledgeSourceForm.controls['Subject'].errors}">
          <label >Fach : </label>
          <select id="Subject" required name="Subject" formControlName="Subject" class="Subject">
              <option value="" disabled>Schulfach wählen</option>
              <option>Deutsch</option>
              <option>Englisch</option>
              <option>Mathematik</option>
              <option>Physik</option>
              <option>Biologie</option>
              <option>Chemie</option>
              <option>Anders</option>
          </select>
          <div *ngIf="AddKnowledgeSourceForm.controls['Subject'].errors && !AddKnowledgeSourceForm.controls['Subject'].pristine" class="error-msg">
              <div [hidden]="!AddKnowledgeSourceForm.controls['Subject'].errors.required">Fach wird benötigt.</div>
          </div>
      </div>
      <!--Data-->

      <br>
      <button type="submit">Wissen Hinzufügen</button>
    </form>
  </div>

  <table id="KnowledgeTable">
    <tr>
      <th>Titel</th>
      <th>Fach</th>
      <th>Type</th>
    </tr>
    <tr (click)="showKnowledgeSourceDetails(i)" *ngFor="let knowledgeSource of KnowledgeSources; index as i;" class="KnowledgeSources">
      <td><h4>{{knowledgeSource.Title}}</h4></td>
      <td><h3>{{knowledgeSource.Subject}}</h3></td>
      <td>
        <h3 *ngIf="knowledgeSource.Type == 0">G-Doc</h3>
        <h3 *ngIf="knowledgeSource.Type == 1">PDF</h3>
      </td>
    </tr>
  </table>
  <div (click)="showAddKnowledgeSource();" class="add">+</div>
</div>
