@import "~src/global";

.knowledge {
  padding: 10px;
  text-align: center
}

#KnowledgeTable {
  width: 50%;
  margin: auto;
  text-align: left;
  border-color: $content-border-color;
  border-radius: 5px;
  border-width: 3px;
  border-spacing: 0px;
  box-shadow: 1px 2px 6px $content-border-color;
  border-style: solid;
  @media #{$information-phone} {
    width: 100%;
  }
}

th {
  text-align: left;
  background-color: $content-border-color;
  color : $main-background-color;
}


td {
  border-color: $content-border-color;
  border-width: 2px;
  border-style: solid;
}
